    .header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    
    .header__icon {
        font-size: 16px;
        color: white;
        font-weight: 600;
    }
    
    .header__grup--icon {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .header__grup--icon>i:first-of-type {
        display: inline-block;
        margin-right: 35px;
    }