.cardList {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--bg__secundary);
    border-top-left-radius: 25%;
    height: 70vh;
    overflow: auto;
}

@media (orientation: landscape) {
    .cardList { 
        border-radius: 0;
    }

}