.action-bar {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: white;
    width: 100vw;
    height: 12vh;
    bottom: 0vh;
    border-top: 1px solid rgba(238, 238, 238, 0.658);
    
    /* transform: translateY(-10vh); */
    
}

.action-bar__search-bar,
.action-bar__btn-submit{
    margin: 10px 30px;
}

.action-bar__search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.action-bar__icon-search, 
.action-bar__icon-basket{
    padding: 8px;
    margin: 0 10px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.action-bar__btn-submit{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px;
    color: white;
    background-color: #22c1bd;
}

@media (orientation: landscape) { 
    .action-bar {
        height: 60px;
    }
}